/*          ||         ROOT       ||          */
:root {
    --milk: white;
    --pastelg: darkseagreen;

}


/*          || UNIVERSAL SELECTOR ||          */
* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*          || ELEMENT SELECTORS  ||          */


aside {
    margin-top: 4%;
    text-align: center;
    width: 18%;
    height: 600px;
    position: fixed;
    background-color: var(--pastelg);
    border: 1px solid black;
    border-radius: 12px;
   
}

body {
    background-image: linear-gradient(
        .25turn, lavender, purple);
}

h1 {
    font-size:xx-large;
    font-weight:bolder;
    margin-top: 20%;
    margin-bottom: 5%;
    align-items: center;
}




/*          ||   CLASS SELECTORS  ||          */



.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.navigation-bar ul {
    color: var(milk);
}

.navigation-bar ul li {
    align-items: center;
    font-size: large;
    font-weight: bold;
    margin-top: 45%;
    margin-left: -20%;
    margin-bottom: 20%;
    list-style: none;
}

.Description {
    text-align: center;
}

.home-page {
    position: absolute;
    right: 32%;
    top: 10%;
}

.about-me {
    position: absolute;
    right:10%;
    top: 10%;
}
.projects {
    position: absolute;
    top: 10%;
    right: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.contact-info {
    position:absolute;
    right:42%;
    top: 40%;
}
.links-list {
    list-style:none;
}
.project-card {
  
}

.project-card:hover {
   
}

/*          || INDIVIDUAL SELECTORS ||         */

#Home-Page-Description,
#About-Me-Description,
#Projects-Description,
#Contact-Info-Description {
    display: none;
}

#Home-Page-Description:target,
#About-Me-Description:target,
#Projects-Description:target,
#Contact-Info-Description:target {
    display:block;
    
}


/*        || MEDIA SCREEN ADJUST ||          */

@media  screen and (max-width:992px) {
    
}

@media  screen and (max-width:768px) {
    
}
