/*          ||         ROOT       ||          */
:root {
    --milk: white;
    --pastelg: darkseagreen;
    --blood: darkred;
    --oomph: black;

}


/*          || UNIVERSAL SELECTOR ||          */
* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*          || ELEMENT SELECTORS  ||          */


aside {
    margin-top: 4%;
    text-align: center;
    width: 18%;
    height: 600px;
    position: fixed;
    background-color: var(--pastelg);
    border: 1px solid var(--oomph);
    border-radius: 12px;
    display: flex;
}

body {
    background-image: linear-gradient(
        .25turn, lavender, purple);
}

h1 {
    font-size:xx-large;
    font-weight:bolder;
    margin-top: 20%;
    margin-bottom: 5%;
    justify-content: center;
}




/*          ||   CLASS SELECTORS  ||          */


/* Nav bar stylings */
.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.navigation-bar ul {
    color: var(--milk);
}

.navigation-bar ul li {
    justify-content: center;
    font-size: large;
    font-weight: bold;
    margin-top: 60%;
    margin-bottom: 20%;
    list-style: none;
}

/*End Nav Bar Stylings*/

/*Section stylings*/
.Description {
    text-align: center;
}

.about-me {
    position: absolute;
    right:10%;
    top: 10%;
}
.row {
    display: flex;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    left:40%;
    
}

.justify-center {
    justify-content: center;
}

.projects-flexbox {
    flex: 1 0 100%;
    padding: 15px;
    transition: flex-basis 500ms linear;
    margin-bottom: 15px;
}

.Project-Card {
    display: flex;
    flex-direction: column;
    justify-content: right;
    min-height:10%;
    max-width:30%;
    padding: 2%;
    color: var(--oomph);
    background-image: linear-gradient(0.25turn, lightgreen, var(--pastelg));
    border-radius: 10px;
    outline: 2px solid var(--pastelg);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

.Project-Card:hover {
    box-shadow: inset 0px 0px 8px var(--pastelg), 0 0 15px var(--pastelg);
    transform: scale(1.1);
}
.Project-Card img {
    display: flex;
    flex: 1 0 100%;
    max-width: 100%;
}

.contact-info {
    position:absolute;
    right:42%;
    top: 40%;
}
.links-list {
    list-style:none;
}

/*          || INDIVIDUAL SELECTORS ||         */

#Home-Page-Description,
#About-Me-Description,
#Projects-Description,
#Contact-Info-Description {
    display: none;
}

#Home-Page-Description:target,
#About-Me-Description:target,
#Projects-Description:target,
#Contact-Info-Description:target {
    display:block;
    
}



/*        || MEDIA SCREEN ADJUST ||          */

@media  screen and (max-width:992px) {
    
}

@media  screen and (max-width:768px) {
    
}
